@using System.Configuration
@{
    ViewBag.Title = "Trang chủ";
}

<div class="sk-home-slider">
    <div id="sk-home-slider" class="owl-carousel">

        <div class="item">
            <a href="#" title="Kidshop">
                <figure class="banner" style="background-image: url('http://bizweb.dktcdn.net/100/117/632/themes/157694/assets/slideshow_image_1.jpg?1480685335175');"></figure>
            </a>
        </div>


        <div class="item">
            <a href="#" title="Kidshop">
                <figure class="banner" style="background-image: url('http://bizweb.dktcdn.net/100/117/632/themes/157694/assets/slideshow_image_2.jpg?1480685335175');"></figure>
            </a>
        </div>


        <div class="item">
            <a href="#" title="Kidshop">
                <figure class="banner" style="background-image: url('http://bizweb.dktcdn.net/100/117/632/themes/157694/assets/slideshow_image_3.jpg?1480685335175');"></figure>
            </a>
        </div>

    </div>
</div>


<div class="sk-homepage-layout-leftSidebar">
    <div class="container">
        <div class="row">
            <aside class="col-lg-3 col-md-3 hidden-sm hidden-xs" style="margin-top: 40px">
                @Html.Action("PartialSale", "Home")
                <div class="sk-leftSidebar-widget hotline-widget">
                    <div class="hotline-widget-inner text-center">
                        <span>
                            Hotline
                        </span>
                        <a href="tel:@ConfigurationManager.AppSettings["hotline"]">
                            @ConfigurationManager.AppSettings["hotline"]
                        </a>
                    </div>
                </div>
            </aside>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <section class="sk-home-main-block">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 discounts-product-block discounts-product-block-left">
                            <div class="main-block-title">
                                <h2>
                                    Sản phẩm nổi bật
                                </h2>
                            </div>
                            <div id="discounts-product" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="discounts-product-item">
                                        <div class="sale-box text-center">
                                            <span class="price">
                                                -
                                                9%
                                            </span>
                                        </div>
                                        <div class="discounts-product-image">
                                            <a href="/vay-lien-than-kids-kf5">
                                                <img src="//bizweb.dktcdn.net/thumb/grande/100/117/632/products/aovay9.jpg?v=1473603722567" alt="Váy liên thân KIDS - KF5" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="discounts-product-info text-center">

                                            <div class="price-box">
                                                <span class="price">250.000₫</span>

                                                <span class="price-compare">

                                                    275.000₫

                                                </span>

                                            </div>

                                            <h3 class="item-title">
                                                <a href="/vay-lien-than-kids-kf5" title="Váy liên thân KIDS - KF5">Váy liên thân KIDS - KF5</a>
                                            </h3>
                                            <div class="text-center">
                                                <form action="/cart/add" method="post" class="variants" id="product-actions-3915726" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/vay-lien-than-kids-kf5'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">









                                    <div class="discounts-product-item">




                                        <div class="sale-box text-center">
                                            <span class="price">
                                                -
                                                20%
                                            </span>
                                        </div>


                                        <div class="discounts-product-image">
                                            <a href="/vay-lien-than-kids">
                                                <img src="//bizweb.dktcdn.net/thumb/grande/100/117/632/products/aovay1.jpg?v=1473603655807" alt="Váy liên thân KIDS" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="discounts-product-info text-center">

                                            <div class="price-box">
                                                <span class="price">220.000₫</span>

                                                <span class="price-compare">

                                                    275.000₫

                                                </span>

                                            </div>

                                            <h3 class="item-title">
                                                <a href="/vay-lien-than-kids" title="Váy liên thân KIDS">Váy liên thân KIDS</a>
                                            </h3>
                                            <div class="text-center">
                                                <form action="/cart/add" method="post" class="variants" id="product-actions-3915724" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/vay-lien-than-kids'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 discounts-product-block-right">
                            <div class="row">

                                <div class="col-md-6 col-sm-6">







                                    <div class="discounts-product-right">


                                        <div class="discounts-product-image">
                                            <a href="/giay-the-thao-buoc-day-f56">
                                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/giay5-6ad05ccc-be71-4eca-83f8-3e73a5570372-42da6097-d9b3-437a-afe5-66c1be4352b4-8a365fca-ef0a-415a-838e-f172e148cb7c.jpg?v=1473603367790" alt="Giày Thể Thao Buộc Dây - F56" class="img-responsive">
                                            </a>

                                            <div class="price-box">
                                                <span class="price">450.000₫</span>

                                            </div>

                                        </div>
                                        <div class="discounts-product-info">
                                            <h3 class="item-title">
                                                <a href="/giay-the-thao-buoc-day-f56" title="Giày Thể Thao Buộc Dây - F56">Giày Thể Thao Buộc Dây - F56</a>
                                            </h3>
                                        </div>
                                        <div class="text-center">



                                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/giay-the-thao-buoc-day-f56'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">







                                    <div class="discounts-product-right">


                                        <div class="discounts-product-image">
                                            <a href="/giay-the-thao-buoc-day-05">
                                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/giay1-0406895d-36ca-4e58-811a-e78d13fd1d1d.jpg?v=1473603193730" alt="Giày Thể Thao Buộc Dây -05" class="img-responsive">
                                            </a>

                                            <div class="price-box">
                                                <span class="price">450.000₫</span>

                                            </div>

                                        </div>
                                        <div class="discounts-product-info">
                                            <h3 class="item-title">
                                                <a href="/giay-the-thao-buoc-day-05" title="Giày Thể Thao Buộc Dây -05">Giày Thể Thao Buộc Dây -05</a>
                                            </h3>
                                        </div>
                                        <div class="text-center">



                                            <input type="hidden" name="variantId" value="6383428" />
                                            <button class="button product-atc" title="Mua hàng" onclick="Bizweb.addItem(6383428, 1, cartItem)"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="sk-viewmore-block-green">
                                <div class="sk-viewmore-block-inner text-center">
                                    <a href="@Url.Action("Index", "Product")"><span>Xem toàn bộ sản phẩm <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </section>

                @Html.Action("PartialNewProduct", "Home")
            </div>
        </div>
    </div>

    <div class="sk-product-care-section">
        <div class="container">
            <div class="section-header">
                <div class="product-care-title">
                    <h2>
                        Sản phẩm bán chạy nhất
                    </h2>
                </div>
            </div>
            <div class="product-care-wrap">
                <div class="productCareNavigation">
                    <a class="btn prev">
                        <img src="~/Images/left-control.png" alt="left-control" class="img-responsive" />
                    </a>
                    <a class="btn next">
                        <img src="~/Images/right-control.png" alt="right-control" class="img-responsive" />
                    </a>
                </div>
                <div id="product-care" class="owl-carousel owl-theme">










                    <div class="discounts-product-right">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                9%
                            </span>
                        </div>

                        <div class="discounts-product-image">
                            <a href="/vay-lien-than-kids-kf5">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/aovay9.jpg?v=1473603722567" alt="Váy liên thân KIDS - KF5" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">250.000₫</span>

                                <span class="price-compare">

                                    275.000₫

                                </span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/vay-lien-than-kids-kf5" title="Váy liên thân KIDS - KF5">Váy liên thân KIDS - KF5</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/vay-lien-than-kids-kf5'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>










                    <div class="discounts-product-right">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                20%
                            </span>
                        </div>

                        <div class="discounts-product-image">
                            <a href="/vay-lien-than-kids">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/aovay1.jpg?v=1473603655807" alt="Váy liên thân KIDS" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">220.000₫</span>

                                <span class="price-compare">

                                    275.000₫

                                </span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/vay-lien-than-kids" title="Váy liên thân KIDS">Váy liên thân KIDS</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/vay-lien-than-kids'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>








                    <div class="discounts-product-right">


                        <div class="discounts-product-image">
                            <a href="/giay-the-thao-buoc-day-f56">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/giay5-6ad05ccc-be71-4eca-83f8-3e73a5570372-42da6097-d9b3-437a-afe5-66c1be4352b4-8a365fca-ef0a-415a-838e-f172e148cb7c.jpg?v=1473603367790" alt="Giày Thể Thao Buộc Dây - F56" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">450.000₫</span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/giay-the-thao-buoc-day-f56" title="Giày Thể Thao Buộc Dây - F56">Giày Thể Thao Buộc Dây - F56</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/giay-the-thao-buoc-day-f56'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>








                    <div class="discounts-product-right">


                        <div class="discounts-product-image">
                            <a href="/giay-the-thao-buoc-day-05">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/giay1-0406895d-36ca-4e58-811a-e78d13fd1d1d.jpg?v=1473603193730" alt="Giày Thể Thao Buộc Dây -05" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">450.000₫</span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/giay-the-thao-buoc-day-05" title="Giày Thể Thao Buộc Dây -05">Giày Thể Thao Buộc Dây -05</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <input type="hidden" name="variantId" value="6383428" />
                            <button class="button product-atc" title="Mua hàng" onclick="Bizweb.addItem(6383428, 1, cartItem)"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>










                    <div class="discounts-product-right">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                54%
                            </span>
                        </div>

                        <div class="discounts-product-image">
                            <a href="/kinh-thoi-trang-gap">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/kinh3-63d039b5-b2ef-434a-98f1-661dabd93f3b-4ef5c754-f487-4137-bc30-4830323e7a32.jpg?v=1473602839287" alt="Kính thời trang Gap" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">325.000₫</span>

                                <span class="price-compare">

                                    700.000₫

                                </span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/kinh-thoi-trang-gap" title="Kính thời trang Gap">Kính thời trang Gap</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/kinh-thoi-trang-gap'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>










                    <div class="discounts-product-right">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                54%
                            </span>
                        </div>

                        <div class="discounts-product-image">
                            <a href="/kinh-thoi-trang-caters-sk">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/kinh5-be409022-0163-4dea-be23-c6bdc04184e0.jpg?v=1473602369697" alt="Kính thời trang Caters - SK" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">325.000₫</span>

                                <span class="price-compare">

                                    700.000₫

                                </span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/kinh-thoi-trang-caters-sk" title="Kính thời trang Caters - SK">Kính thời trang Caters - SK</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/kinh-thoi-trang-caters-sk'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>










                    <div class="discounts-product-right">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                9%
                            </span>
                        </div>

                        <div class="discounts-product-image">
                            <a href="/dam-du-tiec-cho-be-xk2">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/aovay7-12207678-c00d-4aca-898c-57d1b5bba421-7e984c17-de6e-4388-941c-dc03a74a484f-ee9bee74-b5a4-4ae0-a971-aac1bb683a70.jpg?v=1473602241247" alt="Đầm dự tiệc cho bé - XK2" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">250.000₫</span>

                                <span class="price-compare">

                                    275.000₫

                                </span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/dam-du-tiec-cho-be-xk2" title="Đầm dự tiệc cho bé - XK2">Đầm dự tiệc cho bé - XK2</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/dam-du-tiec-cho-be-xk2'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>










                    <div class="discounts-product-right">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                9%
                            </span>
                        </div>

                        <div class="discounts-product-image">
                            <a href="/dam-du-tiec-cho-be-k78">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/aovay3-388a47b0-b963-441a-be5d-22e7c4319089-c9563a38-17f7-444e-8727-5eaa672a08b1.jpg?v=1473602200560" alt="Đầm dự tiệc cho bé-K78" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">250.000₫</span>

                                <span class="price-compare">

                                    275.000₫

                                </span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/dam-du-tiec-cho-be-k78" title="Đầm dự tiệc cho bé-K78">Đầm dự tiệc cho bé-K78</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/dam-du-tiec-cho-be-k78'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>










                    <div class="discounts-product-right">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                9%
                            </span>
                        </div>

                        <div class="discounts-product-image">
                            <a href="/dam-du-tiec-cho-be-78">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/aovay5-d70f3118-c6d0-4ca4-ae86-1afee9b1c047.jpg?v=1473602169470" alt="Đầm dự tiệc cho bé - 78" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">250.000₫</span>

                                <span class="price-compare">

                                    275.000₫

                                </span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/dam-du-tiec-cho-be-78" title="Đầm dự tiệc cho bé - 78">Đầm dự tiệc cho bé - 78</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/dam-du-tiec-cho-be-78'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>










                    <div class="discounts-product-right">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                54%
                            </span>
                        </div>

                        <div class="discounts-product-image">
                            <a href="/kinh-thoi-trang-caters">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/kinh1.jpg?v=1473601671410" alt="Kính thời trang Caters" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">325.000₫</span>

                                <span class="price-compare">

                                    700.000₫

                                </span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/kinh-thoi-trang-caters" title="Kính thời trang Caters">Kính thời trang Caters</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/kinh-thoi-trang-caters'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>








                    <div class="discounts-product-right">


                        <div class="discounts-product-image">
                            <a href="/giay-the-thao-buoc-day">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/giay3.jpg?v=1473602979943" alt="Giày Thể Thao Buộc Dây" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">450.000₫</span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/giay-the-thao-buoc-day" title="Giày Thể Thao Buộc Dây">Giày Thể Thao Buộc Dây</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/giay-the-thao-buoc-day'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>










                    <div class="discounts-product-right">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                9%
                            </span>
                        </div>

                        <div class="discounts-product-image">
                            <a href="/dam-du-tiec-cho-be">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/aovay8.jpg?v=1473600724377" alt="Đầm dự tiệc cho bé" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">250.000₫</span>

                                <span class="price-compare">

                                    275.000₫

                                </span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/dam-du-tiec-cho-be" title="Đầm dự tiệc cho bé">Đầm dự tiệc cho bé</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/dam-du-tiec-cho-be'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>

                </div><!-- #product-care -->
            </div>
        </div>
    </div>

    <div class="sk-news-section">
        <div class="container">
            <div class="section-header">
                <div class="product-care-title">
                    <h2>
                        Bài viết mới nhất
                    </h2>
                </div>
                <div class="main-block-description">
                    Blog tập hợp những bản tin, bài viết về kinh nghiệm mua sắm, chăm sóc bé và chia sẻ các cung bậc cảm xúc hằng ngày. Tập hợp những mẹo vặt để cải thiện của sống của bạn tốt hơn, hoàn hảo hơn.
                </div>
            </div>
            <div class="sk-news-list">
                <div class="row-new">

                    <div class="col-md-4 col-sm-4 sk-news-item">
                        <div class="sk-news-item-inner">
                            <div class="col-md-6 col-sm-6 sk-news-image no-padding-left">
                                <a href="/cach-nhan-biet-quan-ao-tre-em-viet-nam-xuat-khau-xin">

                                    <img src="//bizweb.dktcdn.net/thumb/medium/100/117/632/articles/ttxk-43.jpg?v=1473010108033" alt="article-image" class="img-responsive">

                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 sk-news-content no-padding">
                                <h5>
                                    <a href="/cach-nhan-biet-quan-ao-tre-em-viet-nam-xuat-khau-xin">Cách nhận biết quần áo trẻ em Việt Nam xuất khẩu xịn</a>
                                </h5>
                                <div class="sk-news-description">
                                    Hiện nay, trên thị trường có rất nhiều vụ quần áo trẻ em hàng Trung Quốc...
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 sk-news-item">
                        <div class="sk-news-item-inner">
                            <div class="col-md-6 col-sm-6 sk-news-image no-padding-left">
                                <a href="/giup-ban-tiet-kiem-chi-phi-khi-mua-quan-ao-tre-em">

                                    <img src="//bizweb.dktcdn.net/thumb/medium/100/117/632/articles/chuyen-buon-quan-ao-tre-em-gia-re-cho-cho-tan-binh-1.jpg?v=1473010063163" alt="article-image" class="img-responsive">

                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 sk-news-content no-padding">
                                <h5>
                                    <a href="/giup-ban-tiet-kiem-chi-phi-khi-mua-quan-ao-tre-em">Giúp bạn tiết kiệm chi phí khi mua quần áo trẻ em</a>
                                </h5>
                                <div class="sk-news-description">
                                    Hiện nay trên thị trường có hàng ngàn shop thời trang trẻ em với nhiều mẫu...
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 sk-news-item">
                        <div class="sk-news-item-inner">
                            <div class="col-md-6 col-sm-6 sk-news-image no-padding-left">
                                <a href="/nhung-dieu-can-biet-khi-mua-quan-ao-tre-em-online">

                                    <img src="//bizweb.dktcdn.net/thumb/medium/100/117/632/articles/13.jpg?v=1473010026883" alt="article-image" class="img-responsive">

                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 sk-news-content no-padding">
                                <h5>
                                    <a href="/nhung-dieu-can-biet-khi-mua-quan-ao-tre-em-online">Những điều cần biết khi mua quần áo trẻ em online</a>
                                </h5>
                                <div class="sk-news-description">
                                    Mua sắm online là xu hướng phổ biến hiện nay của người tiêu dùng nhưng với...
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>
