
<section class="sk-home-main-block">
    <div class="row">
        <div class="col-md-6 col-sm-6 discounts-product-block discounts-product-block-left">
            <div class="main-block-title">
                <h2>
                    Sản phẩm nổi bật
                </h2>
            </div>
            <div id="discounts-product" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="discounts-product-item">
                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                9%
                            </span>
                        </div>
                        <div class="discounts-product-image">
                            <a href="/vay-lien-than-kids-kf5">
                                <img src="//bizweb.dktcdn.net/thumb/grande/100/117/632/products/aovay9.jpg?v=1473603722567" alt="Váy liên thân KIDS - KF5" class="img-responsive">
                            </a>
                        </div>
                        <div class="discounts-product-info text-center">

                            <div class="price-box">
                                <span class="price">250.000₫</span>

                                <span class="price-compare">

                                    275.000₫

                                </span>

                            </div>

                            <h3 class="item-title">
                                <a href="/vay-lien-than-kids-kf5" title="Váy liên thân KIDS - KF5">Váy liên thân KIDS - KF5</a>
                            </h3>
                            <div class="text-center">
                                <form action="/cart/add" method="post" class="variants" id="product-actions-3915726" enctype="multipart/form-data">


                                    <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/vay-lien-than-kids-kf5'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">









                    <div class="discounts-product-item">




                        <div class="sale-box text-center">
                            <span class="price">
                                -
                                20%
                            </span>
                        </div>


                        <div class="discounts-product-image">
                            <a href="/vay-lien-than-kids">
                                <img src="//bizweb.dktcdn.net/thumb/grande/100/117/632/products/aovay1.jpg?v=1473603655807" alt="Váy liên thân KIDS" class="img-responsive">
                            </a>
                        </div>
                        <div class="discounts-product-info text-center">

                            <div class="price-box">
                                <span class="price">220.000₫</span>

                                <span class="price-compare">

                                    275.000₫

                                </span>

                            </div>

                            <h3 class="item-title">
                                <a href="/vay-lien-than-kids" title="Váy liên thân KIDS">Váy liên thân KIDS</a>
                            </h3>
                            <div class="text-center">
                                <form action="/cart/add" method="post" class="variants" id="product-actions-3915724" enctype="multipart/form-data">


                                    <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/vay-lien-than-kids'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-6 discounts-product-block-right">
            <div class="row">

                <div class="col-md-6 col-sm-6">







                    <div class="discounts-product-right">


                        <div class="discounts-product-image">
                            <a href="/giay-the-thao-buoc-day-f56">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/giay5-6ad05ccc-be71-4eca-83f8-3e73a5570372-42da6097-d9b3-437a-afe5-66c1be4352b4-8a365fca-ef0a-415a-838e-f172e148cb7c.jpg?v=1473603367790" alt="Giày Thể Thao Buộc Dây - F56" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">450.000₫</span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/giay-the-thao-buoc-day-f56" title="Giày Thể Thao Buộc Dây - F56">Giày Thể Thao Buộc Dây - F56</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href = '/giay-the-thao-buoc-day-f56'"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-sm-6">







                    <div class="discounts-product-right">


                        <div class="discounts-product-image">
                            <a href="/giay-the-thao-buoc-day-05">
                                <img src="//bizweb.dktcdn.net/thumb/large/100/117/632/products/giay1-0406895d-36ca-4e58-811a-e78d13fd1d1d.jpg?v=1473603193730" alt="Giày Thể Thao Buộc Dây -05" class="img-responsive">
                            </a>

                            <div class="price-box">
                                <span class="price">450.000₫</span>

                            </div>

                        </div>
                        <div class="discounts-product-info">
                            <h3 class="item-title">
                                <a href="/giay-the-thao-buoc-day-05" title="Giày Thể Thao Buộc Dây -05">Giày Thể Thao Buộc Dây -05</a>
                            </h3>
                        </div>
                        <div class="text-center">



                            <input type="hidden" name="variantId" value="6383428" />
                            <button class="button product-atc" title="Mua hàng" onclick="Bizweb.addItem(6383428, 1, cartItem)"><span><img src="//bizweb.dktcdn.net/100/117/632/themes/157694/assets/btn-buy.png?1480685335175" alt="" /></span></button>


                        </div>

                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="sk-viewmore-block-green">
                <div class="sk-viewmore-block-inner text-center">
                    <a href="@Url.Action("Index", "Product")"><span>Xem toàn bộ sản phẩm <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>